body {

font-family: Montserrat, sans-serif;
background: #360061;

}


.main {

display: flex;
justify-content: center;


}

.window {

display: flex;
justify-content: center;
border-radius: 14px;
flex-direction: column;
align-items: center;
width: 599px;
height: 753px;
background: #fff;

}

.maintext {

font-family: Montserrat, sans-serif;
font-size: 30px;
font-style: normal;
font-weight: 700;
color: #000;


}

.form {

display: flex;
justify-content: center;
flex-direction: column;
width: 294px;

}

input {

margin: 10px 0;
padding: 17px;
border: 2px solid #757575;
border-radius: 6px;
font-family: Montserrat, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 600;
color: #757575;
}

.button {

font-family: Montserrat, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 600;
color: #FFF;
margin-top: 15px;
padding: 10px;
height: 46px;
width: 294px;
background: #757575;
border: unset;
border-radius: 24px;
cursor: pointer;
}

.button:hover {

background: #C6C6C6;
color: #343434;
}

.unbutton {

font-family: Montserrat, sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 500;
color: #757575;

}

.unbutton2 {

font-family: Montserrat, sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 700;
color: #360061;
text-decoration: none;

}

.message {
font-family: Montserrat, sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 500;
color: red;

}